.para
{
    font-size: xx-large;
    color:red;
}
.small-para
{
    font-size: medium;
}
.button.confirm
{
    background-color: green;
    color:white;
}
.button.cancel
{
    background-color: white;
    color: black;
}
.text
{
    color: green;
}
.child
{
    color: red;
}